<a href="https://colab.research.google.com/github/tongakuot/python_tutorials/blob/main/pandas_google_colab_demo.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Cleaning and Transforming Data with `pandas`

## Loading Libraries

In [ ]:
import pandas as pd
#!pip install pyjanitor
from janitor import clean_names

## Importing the Dataset

In [6]:
from google.colab import files
uploaded = files.upload()

/usr/local/lib/python3.10/dist-packages/ipykernel/ipkernel.py:283: DeprecationWarning: `should_run_async` will not call `transform_cell` automatically in the future. Please pass the result to `transformed_cell` argument and any exception that happen during thetransform in `preprocessing_exc_tuple` in IPython 7.17 and above.
  and should_run_async(code)

In [7]:
census_raw = pd.read_csv('/content/ss_2008_census_data_raw.csv')

/usr/local/lib/python3.10/dist-packages/ipykernel/ipkernel.py:283: DeprecationWarning: `should_run_async` will not call `transform_cell` automatically in the future. Please pass the result to `transformed_cell` argument and any exception that happen during thetransform in `preprocessing_exc_tuple` in IPython 7.17 and above.
  and should_run_async(code)

In [8]:
# Inspect the first few rows
census_raw.head()

/usr/local/lib/python3.10/dist-packages/ipykernel/ipkernel.py:283: DeprecationWarning: `should_run_async` will not call `transform_cell` automatically in the future. Please pass the result to `transformed_cell` argument and any exception that happen during thetransform in `preprocessing_exc_tuple` in IPython 7.17 and above.
  and should_run_async(code)

,Region,Region Name,Region - RegionId,Variable,Variable Name,Age,Age Name,Scale,Units,2008
0,KN.A2,Upper Nile,SS-NU,KN.B2,"Population, Total (Number)",KN.C1,Total,units,Persons,964353.0
1,KN.A2,Upper Nile,SS-NU,KN.B2,"Population, Total (Number)",KN.C2,0 to 4,units,Persons,150872.0
2,KN.A2,Upper Nile,SS-NU,KN.B2,"Population, Total (Number)",KN.C3,5 to 9,units,Persons,151467.0
3,KN.A2,Upper Nile,SS-NU,KN.B2,"Population, Total (Number)",KN.C4,10 to 14,units,Persons,126140.0
4,KN.A2,Upper Nile,SS-NU,KN.B2,"Population, Total (Number)",KN.C5,15 to 19,units,Persons,103804.0

In [9]:
# Inspect the last 10 rows
census_raw.tail(10)

/usr/local/lib/python3.10/dist-packages/ipykernel/ipkernel.py:283: DeprecationWarning: `should_run_async` will not call `transform_cell` automatically in the future. Please pass the result to `transformed_cell` argument and any exception that happen during thetransform in `preprocessing_exc_tuple` in IPython 7.17 and above.
  and should_run_async(code)

,Region,Region Name,Region - RegionId,Variable,Variable Name,Age,Age Name,Scale,Units,2008
443,KN.A11,Eastern Equatoria,SS-EE,KN.B8,"Population, Female (Number)",KN.C9,35 to 39,units,Persons,25808.0
444,KN.A11,Eastern Equatoria,SS-EE,KN.B8,"Population, Female (Number)",KN.C10,40 to 44,units,Persons,17585.0
445,KN.A11,Eastern Equatoria,SS-EE,KN.B8,"Population, Female (Number)",KN.C11,45 to 49,units,Persons,13727.0
446,KN.A11,Eastern Equatoria,SS-EE,KN.B8,"Population, Female (Number)",KN.C12,50 to 54,units,Persons,9482.0
447,KN.A11,Eastern Equatoria,SS-EE,KN.B8,"Population, Female (Number)",KN.C13,55 to 59,units,Persons,5740.0
448,KN.A11,Eastern Equatoria,SS-EE,KN.B8,"Population, Female (Number)",KN.C14,60 to 64,units,Persons,5274.0
449,KN.A11,Eastern Equatoria,SS-EE,KN.B8,"Population, Female (Number)",KN.C22,65+,units,Persons,8637.0
450,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
451,Source:,"National Bureau of Statistics, South Sudan",NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
452,Download URL:,http://southsudan.opendataforafrica.org/fvjqdp...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [10]:
# Dimensions
census_raw.shape

/usr/local/lib/python3.10/dist-packages/ipykernel/ipkernel.py:283: DeprecationWarning: `should_run_async` will not call `transform_cell` automatically in the future. Please pass the result to `transformed_cell` argument and any exception that happen during thetransform in `preprocessing_exc_tuple` in IPython 7.17 and above.
  and should_run_async(code)

(453, 10)

## Selecting desired columns

In [11]:
census_raw.columns

/usr/local/lib/python3.10/dist-packages/ipykernel/ipkernel.py:283: DeprecationWarning: `should_run_async` will not call `transform_cell` automatically in the future. Please pass the result to `transformed_cell` argument and any exception that happen during thetransform in `preprocessing_exc_tuple` in IPython 7.17 and above.
  and should_run_async(code)

Index(['Region', 'Region Name', 'Region - RegionId', 'Variable',
       'Variable Name', 'Age', 'Age Name', 'Scale', 'Units', '2008'],
      dtype='object')

In [17]:
# Checking for missing values
#census_raw.isna().sum()

census_raw[census_raw['2008'].isna()]

/usr/local/lib/python3.10/dist-packages/ipykernel/ipkernel.py:283: DeprecationWarning: `should_run_async` will not call `transform_cell` automatically in the future. Please pass the result to `transformed_cell` argument and any exception that happen during thetransform in `preprocessing_exc_tuple` in IPython 7.17 and above.
  and should_run_async(code)

,Region,Region Name,Region - RegionId,Variable,Variable Name,Age,Age Name,Scale,Units,2008
450,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
451,Source:,"National Bureau of Statistics, South Sudan",NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
452,Download URL:,http://southsudan.opendataforafrica.org/fvjqdp...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [19]:
# Checking for data types
census_raw.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 453 entries, 0 to 452
Data columns (total 10 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   Region             452 non-null    object
 1   Region Name        452 non-null    object
 2   Region - RegionId  450 non-null    object
 3   Variable           450 non-null    object
 4   Variable Name      450 non-null    object
 5   Age                450 non-null    object
 6   Age Name           450 non-null    object
 7   Scale              450 non-null    object
 8   Units              450 non-null    object
 9   2008               450 non-null    float64
dtypes: float64(1), object(9)
memory usage: 35.5+ KB

/usr/local/lib/python3.10/dist-packages/ipykernel/ipkernel.py:283: DeprecationWarning: `should_run_async` will not call `transform_cell` automatically in the future. Please pass the result to `transformed_cell` argument and any exception that happen during thetransform in `preprocessing_exc_tuple` in IPython 7.17 and above.
  and should_run_async(code)

In [30]:
cols = ['Region Name','Variable Name', 'Age Name', '2008']

age_maps = {'0 to 4':'0-14', '5 to 9':'0-14', 
            '10 to 14':'0-14', '15 to 19':'15-29', 
            '20 to 24':'15-29', '25 to 29':'15-29',
            '30 to 34':'30-49', '35 to 39':'30-49', 
            '40 to 44':'30-49', '45 to 49':'30-49', 
            '50 to 54':'50-64', '55 to 59':'50-64', 
            '60 to 64':'50-64', '65+':'65+'}

# Subset the data
census = (
    census_raw
    [cols]
    .clean_names()
    .dropna()
    .rename(columns={'region_name':'state', 
                    'variable_name':'gender',
                    'age_name':'age_category',
                    '2008':'population'}
          )
    .assign(
        population = lambda x: x['population'].astype('int'),
        gender = lambda x: x['gender'].str.split(' ').str[1]
    )
    .query('gender != "Total" & age_category != "Total"')
    .assign(
        age_category = lambda x: x['age_category'].map(age_maps)
    )
    .groupby(['state', 'gender', 'age_category'])
    ['population']
    .sum(numeric_only=True)

)

census

/usr/local/lib/python3.10/dist-packages/ipykernel/ipkernel.py:283: DeprecationWarning: `should_run_async` will not call `transform_cell` automatically in the future. Please pass the result to `transformed_cell` argument and any exception that happen during thetransform in `preprocessing_exc_tuple` in IPython 7.17 and above.
  and should_run_async(code)

state              gender  age_category
Central Equatoria  Female  0-14            221216
                           15-29           166887
                           30-49           101676
                           50-64            23460
                           65+               8596
                                            ...
Western Equatoria  Male    0-14            125766
                           15-29            93082
                           30-49            68530
                           50-64            19524
                           65+              11541
Name: population, Length: 100, dtype: int64

In [29]:
census.age_category.unique()

/usr/local/lib/python3.10/dist-packages/ipykernel/ipkernel.py:283: DeprecationWarning: `should_run_async` will not call `transform_cell` automatically in the future. Please pass the result to `transformed_cell` argument and any exception that happen during thetransform in `preprocessing_exc_tuple` in IPython 7.17 and above.
  and should_run_async(code)

array(['0-14', '15-29', '30-49', '50-64', '65+'], dtype=object)

In [47]:
# Write a function
col_maps ={'region_name':'state', 
                    'variable_name':'gender',
                    'age_name':'age_category',
                    '2008':'population'}

age_maps = {'0 to 4':'0-14', '5 to 9':'0-14', 
              '10 to 14':'0-14', '15 to 19':'15-29', 
              '20 to 24':'15-29', '25 to 29':'15-29',
              '30 to 34':'30-49', '35 to 39':'30-49', 
              '40 to 44':'30-49', '45 to 49':'30-49', 
              '50 to 54':'50-64', '55 to 59':'50-64', 
              '60 to 64':'50-64', '65+':'65+'}

def tweak_census_data(df):
  
  cols = ['Region Name','Variable Name', 'Age Name', '2008']

  # Subset the data
  census = (
      df
      [cols]
      .clean_names()
      .dropna()
      .rename(columns=col_maps)
      .assign(
          population = lambda x: x['population'].astype('int'),
          gender = lambda x: x['gender'].str.split(' ').str[1]
      )
      .query('gender != "Total" & age_category != "Total"')
      .assign(
          age_category = lambda x: x['age_category'].map(age_maps)
      )
      .groupby(['state', 'gender', 'age_category'])
      ['population']
      .sum(numeric_only=True)
  
  )

  return census

/usr/local/lib/python3.10/dist-packages/ipykernel/ipkernel.py:283: DeprecationWarning: `should_run_async` will not call `transform_cell` automatically in the future. Please pass the result to `transformed_cell` argument and any exception that happen during thetransform in `preprocessing_exc_tuple` in IPython 7.17 and above.
  and should_run_async(code)

In [49]:
# Testing the function
df = pd.read_csv('/content/ss_2008_census_data_raw.csv')
tweak_census_data(df)

/usr/local/lib/python3.10/dist-packages/ipykernel/ipkernel.py:283: DeprecationWarning: `should_run_async` will not call `transform_cell` automatically in the future. Please pass the result to `transformed_cell` argument and any exception that happen during thetransform in `preprocessing_exc_tuple` in IPython 7.17 and above.
  and should_run_async(code)

                                       population
state             gender age_category
Central Equatoria Female 0-14              221216
                         15-29             166887
                         30-49             101676
                         50-64              23460
                         65+                 8596
...                                           ...
Western Equatoria Male   0-14              125766
                         15-29              93082
                         30-49              68530
                         50-64              19524
                         65+                11541

[100 rows x 1 columns]

In [51]:
# Define column mappings
COLUMN_MAPPINGS = {
    'region_name': 'state',
    'variable_name': 'gender',
    'age_name': 'age_category',
    '2008': 'population'
}

# Define age group mappings
AGE_GROUP_MAPPINGS = {
    '0 to 4': '0-14', '5 to 9': '0-14',
    '10 to 14': '0-14', '15 to 19': '15-29',
    '20 to 24': '15-29', '25 to 29': '15-29',
    '30 to 34': '30-49', '35 to 39': '30-49',
    '40 to 44': '30-49', '45 to 49': '30-49',
    '50 to 54': '50-64', '55 to 59': '50-64',
    '60 to 64': '50-64', '65+': '65+'
}

def preprocess_census_data(df):
    """
    Preprocess a DataFrame containing census data.
    
    The function cleans up the column names, handles missing values, renames columns,
    converts columns to their appropriate data types, filters rows, remaps age categories,
    and then groups the data.

    Parameters
    ----------
    df : pd.DataFrame
        The original DataFrame to be preprocessed.

    Returns
    -------
    pd.DataFrame
        The preprocessed DataFrame.
    """

    cols = ['Region Name', 'Variable Name', 'Age Name', '2008']

    # Subset the data
    preprocessed_data = (
        df[cols]
        .clean_names()
        .dropna()
        .rename(columns=COLUMN_MAPPINGS)
        .assign(
            population=lambda x: x['population'].astype('int'),
            gender=lambda x: x['gender'].str.split(' ').str[1]
        )
        .query('gender != "Total" & age_category != "Total"')
        .assign(
            age_category=lambda x: x['age_category'].map(AGE_GROUP_MAPPINGS)
        )
        .groupby(['state', 'gender', 'age_category'])['population']
        .sum(numeric_only=True)
    )

    return preprocessed_data

/usr/local/lib/python3.10/dist-packages/ipykernel/ipkernel.py:283: DeprecationWarning: `should_run_async` will not call `transform_cell` automatically in the future. Please pass the result to `transformed_cell` argument and any exception that happen during thetransform in `preprocessing_exc_tuple` in IPython 7.17 and above.
  and should_run_async(code)

In [52]:
aa = preprocess_census_data(df)

/usr/local/lib/python3.10/dist-packages/ipykernel/ipkernel.py:283: DeprecationWarning: `should_run_async` will not call `transform_cell` automatically in the future. Please pass the result to `transformed_cell` argument and any exception that happen during thetransform in `preprocessing_exc_tuple` in IPython 7.17 and above.
  and should_run_async(code)

In [53]:
aa.head()

/usr/local/lib/python3.10/dist-packages/ipykernel/ipkernel.py:283: DeprecationWarning: `should_run_async` will not call `transform_cell` automatically in the future. Please pass the result to `transformed_cell` argument and any exception that happen during thetransform in `preprocessing_exc_tuple` in IPython 7.17 and above.
  and should_run_async(code)

state              gender  age_category
Central Equatoria  Female  0-14            221216
                           15-29           166887
                           30-49           101676
                           50-64            23460
                           65+               8596
Name: population, dtype: int64

In [54]:
aa.tail()

/usr/local/lib/python3.10/dist-packages/ipykernel/ipkernel.py:283: DeprecationWarning: `should_run_async` will not call `transform_cell` automatically in the future. Please pass the result to `transformed_cell` argument and any exception that happen during thetransform in `preprocessing_exc_tuple` in IPython 7.17 and above.
  and should_run_async(code)

state              gender  age_category
Western Equatoria  Male    0-14            125766
                           15-29            93082
                           30-49            68530
                           50-64            19524
                           65+              11541
Name: population, dtype: int64